
.TestBackground{
    background-color: #f1f1f1;
    color: #000;
    margin-left: 0%;
    width: auto;
    border: brown;
    height: 0%;
}

.NewChanges{
    color: green;
    width: 0%;
}

.colorChanges{
    color: gold;
    background-color: greenyellow;
    border: 1px solid blueviolet;
    text-align: center;
    cursor: pointer;
}